<link rel="stylesheet" href="apps.css" />
<script src="apps.js"></script>





</center>
<a class="bn59" style="position: fixed;
right: 1rem;
bottom: 1rem;" href="javascript:window.history.back();">
  Go back
</a>

<center>
			
    <h1 style="font-size: 65px;"> Applications </h1>
    </center>



<div className="bn40div">
<a class="bn40" href="/"></a>
</div>
  <br><br><br>
<center>
  <div style="
  height: 470px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  
  ">
  
  <h2 style="padding-top: 19px;"> Pick a Browser! </h2>
<br><br>
  <div style="
  height: 350px;
  width: 29%;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  display: inline-block;  
  ">
  <img style="display: block;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: auto;
  margin-right: auto " src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Brave_lion.png" width="250" height="250">
  
  <button class="download" onclick="location.href = 'https://laptop-updates.brave.com/latest/winx64'">
    Download Brave
  </button>  </div>

<div style="
height: 350px;
width: 29%;
background-color: rgba(255, 255, 255, 0.08);
border-radius: 10px;
display: inline-block;
margin-left: 30px;
">
<img style="display: block;
margin-left: auto;
margin-top: 20px;
margin-bottom: auto;
margin-right: auto " src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Opera_GX_Icon.svg/2048px-Opera_GX_Icon.svg.png" width="250" height="250">
 <button class="download" onclick="location.href = 'https://net.geo.opera.com/opera_gx/stable/windows?utm_tryagain=yes&utm_source=google&utm_medium=ose&utm_campaign=(none)&http_referrer=https%3A%2F%2Fwww.google.com%2F&utm_site=opera_com&'">
  Download Opera GX
</button> 
</div>

<div class="ar" style="
height: 350px;
width: 29%;
background-color: rgba(255, 255, 255, 0.08);
border-radius: 10px;
display: inline-block;
margin-left: 30px;
"

>
<img style="display: block;
margin-left: auto;
margin-top: 20px;
margin-bottom: auto;
margin-right: auto " src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Firefox_brand_logo%2C_2019.svg/800px-Firefox_brand_logo%2C_2019.svg.png" width="250" height="250">
 <button class="download" onclick="location.href = 'https://download.mozilla.org/?product=firefox-stub&os=win'">
  Download FireFox
</button> 
</div>
<br>
<br>
</div>





<h2 style="padding-top: 30px;"> For The Gamers </h2>

<div style="padding-top: 30px;">

  <div class="small">
  <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Steam_Logo.png" width="80" height="80">
   <button class="download" onclick="location.href = 'https://cdn.akamai.steamstatic.com/client/installer/SteamSetup.exe'">
    Download Steam
  </button> 
  </div>

  <div class="small">
    <img class="image" src="https://cdn2.unrealengine.com/eg-shield-logo-white-f8185c103d8d.svg" width="80" height="80">
     <button class="download" style="font-size: medium;" onclick="location.href = 'https://launcher-public-service-prod06.ol.epicgames.com/launcher/api/installer/download/EpicGamesLauncherInstaller.msi'">
      Download Epic Games
    </button> 
    </div>
  
  <div class="small">
    <img class="image" src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png" width="100" height="80">
     <button class="download" onclick="location.href = 'https://tinyurl.com/discord10tacles'">
      Download Discord
    </button> 
    </div>
    <div class="small">
      <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/OBS.svg/1024px-OBS.svg.png" width="80" height="80">
       <button class="download" onclick="location.href = 'https://cdn-fastly.obsproject.com/downloads/OBS-Studio-28.1.2-Full-Installer-x64.exe'">
        Download OBS  
      </button> 
      </div>
      <div class="small">
        <img class="image" src="https://cdn.freebiesupply.com/logos/large/2x/logitech-gaming-2-logo-png-transparent.png" width="80" height="80">
         <button class="download"style="font-size: medium;"onclick="location.href = 'https://download01.logi.com/web/ftp/pub/techsupport/gaming/lghub_installer.exe'">
          Download Logitech Hub  
        </button> 
        </div>
    

      
      


</div>
<br><br><br>


<br>

  <center>
    <div style="
    height: 470px;
    width: 90%;
    background-image: url(../../assets/images/bg.jpg) ;
    border-radius: 10px;
    
    ">
    <h2 style="padding-top: 30px;"> Are you a developer? </h2>

    <br><br><br><br>

<div class="big1">
  <img class="image2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/2048px-Visual_Studio_Code_1.35_icon.svg.png" width="160" height="160">
    
  <button class="download" onclick="location.href = 'https://code.visualstudio.com/sha/download?build=stable&os=win32-x64-user'">
    Download VsCode
  </button> 


  </div>

  <div class="big1">
    <img class="image2" src="https://desktop.github.com/images/desktop-icon.svg" width="160" height="160">
     <button class="download"  style="font-size: medium;"  onclick="location.href = 'https://central.github.com/deployments/desktop/desktop/latest/win32'">
      Download Github Desktop
    </button> 
    </div>
    <div class="big1">
      <img class="image2" src="https://assets.stickpng.com/images/5848152fcef1014c0b5e4967.png" width="160" height="160">
       <button class="download"onclick="location.href = 'https://www.python.org/ftp/python/3.11.0/python-3.11.0-amd64.exe'">
        Download Python
      </button> 
      </div>
      <div class="big1">
        <img class="image2" src="https://www.yazilimara.com/wp-content/uploads/2020/12/Macro-Recorder-ikon.png" width="160" height="160">
         <button class="download" style="font-size: medium;" onclick="location.href = 'https://www.macrorecorder.com/MacroRecorderSetup.exe'">
          Download Macro Recorder
        </button> 
        </div>
    </div>



    <h2 style="padding-top: 30px;"> Utilities </h2>


    <div style="padding-top: 30px;">

      <div class="small">
      <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/3/37/7-Zip_Logo.png" width="140" height="80">
       <button class="download" onclick="location.href = 'https://www.7-zip.org/a/7z2201-x64.exe'">
        Download 7-Zip
      </button> 
      </div>
      <div class="small">
        <img class="image" src="https://rufus.ie/pics/rufus-128.png" width="80" height="80">
         <button class="download" onclick="location.href = 'https://github.com/pbatard/rufus/releases/download/v3.20/rufus-3.20.exe'">
          Download Rufus
        </button> 
        </div>
  

          <div class="small">
            <img class="image" src="https://vlc.onl/wp-content/uploads/2018/07/VLC.png" width="80" height="80">
             <button class="download" onclick="location.href = 'https://mirrors.estointernet.in/videolan/vlc/3.0.3/win64/vlc-3.0.3-win64.exe'">
              Download VLC
            </button> 
            </div>

            <div class="small">
              <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Blender_logo_no_text.svg/2503px-Blender_logo_no_text.svg.png" width="80" height="80">
               <button class="download" onclick="location.href = 'https://www.blender.org/download/release/Blender3.3/blender-3.3.1-windows-x64.msi/'">
                Download Blender
              </button> 
              </div>


              <div class="small">
                <img class="image" src="https://www.cpuid.com/medias/images/softwares/cpu-z.svg" width="80" height="80">
                 <button class="download" onclick="location.href = 'https://download.cpuid.com/cpu-z/cpu-z_2.03-en.exe'">
                  Download CPU-Z
                </button> 
                </div>

               
      </div>

      
    <div style="padding-top: 30px;">
      <div class="small">
        <img class="image" src="https://flameshot.org/flameshot-icon.svg" width="80" height="80">
         <button class="download" style="font-size: medium;" onclick="location.href = 'https://github.com/flameshot-org/flameshot/releases/download/v12.1.0/Flameshot-12.1.0-win64.msi'">
          Download FlameShot
        </button> 
        </div>

        <div class="small">
          <img class="image" src="https://www.screentogif.com/img/logo.d2151712.png" width="80" height="80">
           <button class="download" style="font-size: medium;" onclick="location.href = 'https://github.com/NickeManarin/ScreenToGif/releases/download/2.37.1/ScreenToGif.2.37.1.Setup.x64.msi'">
            Download ScreenToGif
          </button> 
          </div>

          <div class="small">
            <img class="image" src="https://notepad-plus-plus.org/images/logo.svg" width="80" height="80">
             <button class="download" style="font-size: medium;" onclick="location.href = 'https://github.com/notepad-plus-plus/notepad-plus-plus/releases/download/v8.4.7/npp.8.4.7.Installer.x64.exe'">
              Download Notepad++
            </button> 
            </div>

    </div>