<link rel="stylesheet" href="settings.css" />
<script src="settings.js"></script>


<body>

		<center>
			
			<h1 style="font-size: 65px;"> Windows 10 Settings </h1>
			</center>



<div className="bn40div">
	<a class="bn40" href="/"></a>
</div>
  <div class="settings" style="float:left;">

		
	<div class="setting">
		<input type="checkbox" id="xbox" />
		<label for="xbox">Disable XboX</label>
	</div>
	<div class="setting">
		<input type="checkbox" id="telement" />
		<label for="telement">Disable Windows Telementary</label>
	</div>
	<div class="setting">
		<input type="checkbox" id="onedrive" />
		<label for="onedrive">Uninstall One Drive</label>
	</div>
	<div class="setting">
		<input type="checkbox" id="network"/>
		<label for="network">Network Optimizer</label>
	</div>
	
    <div class="setting">
        <input type="checkbox" id="cmd" />
        <label for="cmd">Add "Open With CMD to context menu"</label>
    </div>
	<div class="setting">
        <input type="checkbox" id="7z" />
        <label for="7z">Add 7-zip to registry</label>
    </div>
	<div class="setting">
		<input type="checkbox" id="spotify" />
		<label for="spotify">Remove Spotify Languages</label>
	</div>
	<div class="setting">
		<input type="checkbox" id="discord" />
		<label for="discord">Discord Debloater </label>
	</div>
	

		
  </div>
  <div class="settings" style="float: right;">

		


	<div class="setting">
		<input type="checkbox" id="chrome" />
		<label for="chrome">Chrome Debloater</label>
	</div>
	<div class="setting">
		<input type="checkbox" id="brave" />
		<label for="brave">Brave Debloater</label>
	</div>
	<div class="setting">
		<input type="checkbox" id="steam" />
		<label for="steam">Steam Cleaner</label>
	</div>
	<div class="setting">
		<input type="checkbox" id="valo" />
		<label for="valo">Valorant Tweaks</label>
	</div>
	
</div>

</body>



	<a class="bn59" style="position: fixed;
	right: 1rem;
	bottom: 1rem;" href="javascript:window.history.back();">
		Go back
	</a>
