<link rel="stylesheet" href="advanced.css" />
<script src="advanced.js"></script>




<body>

    <center>
        
        <h1 style="font-size: 65px;"> Advanced Settings </h1>
        </center>



<div className="bn40div">
<a class="bn40" href="/"></a>
</div>
<div class="settings" style="float:left;">

    
    <div class="setting">
        <input type="checkbox" id="disdefsafe"/>
        <label for="disdefsafe">Defender Safe Mode</label>
    </div>
    
    
    <div class="setting">
        <input type="checkbox" id="edge" />
        <label for="edge">Uninstall Microsoft Edge</label>
    </div>
    <div class="setting">
        <input type="checkbox" id="probing" checked/>
        <label for="probing">Internet Probing</label>
    </div>
    <div class="setting">
        <input type="checkbox" id="desk"/>
        <label for="desk">Desktop Shortcuts</label>
    </div>

    <div class="setting">
        <input type="checkbox" id="path" />
        <label for="path">Add "copy path" to context menu</label>
    </div>
    <div class="setting">
        <input type="checkbox" id="dc" />
        <label for="dc">Discord large pages optimization</label>
    </div>
    <div class="setting">
        <input type="checkbox" id="work"/>
        <label for="work">+8 Worker Threads</label>
    </div>
    <div class="setting">
        <input type="checkbox" id="amd"/>
        <label for="amd">[AMD] Gpu Tweaks</label>
    </div>


    
</div>
<div class="settings" style="float: right;">

    

<div class="setting">
    <input type="checkbox" id="int1" />
    <label for="int1">[Intel HD Graphics] Driver Settings</label>
</div>
<div class="setting">
    <input type="checkbox" id="int2" />
    <label for="int2">[Intel HD Graphics] Overlay Quality Enchantments</label>
</div>
<div class="setting">
    <input type="checkbox" id="nv1" />
    <label for="nv1">[NVIDIA] Remove bloatware</label>
</div>
<div class="setting">
    <input type="checkbox" id="nv2" />
    <label for="nv2">[NVIDIA] Silk Smoothness</label>
</div>
<div class="setting">
    <input type="checkbox" id="ssd" />
    <label for="ssd">SSD Optimizer</label>
</div>
<div class="setting">
    <input type="checkbox" id="hdd" />
    <label for="hdd">Disable HDD parking</label>
</div>
<div class="setting">
    <input type="checkbox" id="qos" />
    <label for="qos">QoS Limiter</label>
</div>

</div>

</body>
<a class="bn59" style="position: fixed;
right: 1rem;
bottom: 1rem;" href="javascript:window.history.back();">
  Go back
</a>
