<link rel="stylesheet" href="../styles/style.css" />







<div style=" position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">





  
  <div class="all">
    <div class="lefter" onclick="location.href='optimize/optimize.html'">
      <div class="text">All-purpose Optimizer</div>
    </div>
    <div class="left" onclick="location.href='settings/settings.html'">
      <div class="text">Basic Settings</div>
    </div>
    <div class="center" onclick="location.href='apps/apps.html'">
      <div class="explainer" ><span> <img src="../assets/images/logo.png" width="124" height="124" style="margin-top: 11px;">  </span></div>
      <div class="text" > Install Applications</div>


      </div>
    <div class="right" onclick="location.href='advanced/advanced.html'">
      <div class="text">Advanced Settings</div>
    </div>
    <div class="righter" onclick="location.href='https://discord.gg/JYW4YPjs78'">
      <div class="text">Join Us!</div>
    </div>
    </div>
    


</div>
