<link rel="stylesheet" href="optimize.css" />
<script src="optimize.js"></script>





</center>
<a class="bn59" style="position: fixed;
right: 1rem;
bottom: 1rem;" href="javascript:window.history.back();">
  Go back
</a>

<center>
			
    <h1 style="font-size: 65px;"> Optimize Now! </h1>
    </center>



<div className="bn40div">
<a class="bn40" href="/"></a>
</div>
  <br><br><br>

  <center>
    <div style="
    height: 470px;
    width: 90%;
    background-image: url(../../assets/images/z.jpg) ;
    border-radius: 10px;
    
    ">
    <h2 style="padding-top: 30px;  font-size: 40px; padding-bottom: 5px;"> Time to become as<br>light as feather. </h2>

<br><br>
<div class="big1">
  <img class="image2" src="../../assets/images/logo.png" width="160" height="160">
    
  <button class="download" onclick="go()" style="background-color: rgba(74, 154, 240, 0.676);">
       Run Optimizer.    
  </button> 
  </div>
    </div>


<h2>------------------------------------------------ Optimizations ---------------------------------------------- </h2>
<div style="padding-top: 30px;">
    <div class="small">
      <img class="image" src="https://www.iconpacks.net/icons/1/free-trash-icon-347-thumb.png" width="80" height="80">
       <button class="download" style="font-size: medium;"onclick="debloat()">
        Debloat Windows
      </button> 
      </div>

      <div class="small">
        <img class="image" src="https://ps.w.org/aruba-hispeed-cache/assets/icon-256x256.png?rev=2693724" width="80" height="80">
         <button class="download" onclick="temp()">
          Clear Cache
        </button> 
        </div>

        <div class="small">
          <img class="image" src="https://lh3.googleusercontent.com/bwK4CEdLUOkCiugb-acX4WMjccogkpC-iwRWSjBPgbiKNJMvgT8sW5L4ngwpHPlLnOh-orEf-7EWIhKIL4Hhmao=s400" width="80" height="80">
           <button class="download" style="font-size: medium;">
            Nothing yet.
          </button> 
          </div>

  </div>
  
  </body>
  